
 a {
    display: inline;
    color: #29325d;
}


li {
    display: inline;
    color: white;

    transition-duration: .5s;
    transition-timing-function: ease;
    
}

li:hover{
    transform: scale(1.06);
    text-decoration-line: underline;
    
    
}


.populares {

    padding: 10px 10px 10px 10px;

}

.subtitulos {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    color: white;
    background-color:#29325d;
    margin-bottom: 0px;
    text-align: center;
}

.texto1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: #f68546;
    background-color:#29325d ;
    position: relative;
    padding-top: 40px;
    bottom: 20px;
    text-align: center;
}

.texto2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: #f68546;
    background-color:#29325d ;
    position: relative;
    padding-top: 40px;
    bottom: 20px;
    text-align: center;
}



h3 {
    color: white;
    text-align: center;
    
}

.navegador2 {
    color: white;
    text-align: center;
    
    
}

.mediopago {
    color: white;
    text-align: center;
    position: relative;
    left: 40px;
}

.estadocompra {
    color: white;
    text-align: center;
    position: relative;
    top: 50px;
    right: 90px;
}

.devoluciones {
    color: white;
    text-align: center;
    position: relative;
    left: 40px;
}

.envios {
    color: white;
    text-align: center;
    position: relative;
    top: 50px;
    right: 90px;
}



.descuento1 {
    border: #f68546;
    padding: 3px 3px 3px 3px;
    border-radius: 8px;
    border-style: groove;
    border-width: 6px ;
    margin-left: 15px;

    transition-duration: .5s;
    transition-timing-function: ease;
  
    
}

.descuento1:hover {
    transform: scale(1.03);
   

}

.div_contacto {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color:#29325d;
    margin-bottom: -30px;
}

.quienes_somos {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: white;
    background-color:#29325d;
    margin-bottom: 0px;
}

.tabla {

    text-align: center;
    margin: 0px 0px 0px 620px;
}

.tr1 {
  color: #f68546;
}


  .formulario {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color:#29325d;
    margin-top: 50px;
  }

  .formulario1 {
    color: #f68546;
  }

  textarea {
   resize: none;
   width: 500px;
   height: 300px;
  } 

  label {
    font-size: 25px;
   } 

   .input1 {
    position: relative;
    top: -5px;
   } 

   .input2 {
    position: relative;
    top: -5px;
    left:  9px;
   } 

   .input3 {
    position: relative;
    top: -5px;
    right: 45px;
   } 

   .numero_compra {
    position: relative;
    right: 50px;

   } 

   .descripcion {
  text-align: right;
  position: relative;
  bottom: 400px;
  right: 50px;
   } 

   .winter {
    position: relative;
    font-family: 'Playfair Display', serif;
    color: #29325d ;
    font-size: 50px;
     } 

  
    .carrito {
    position: relative;
    left: 900px;
    bottom: 350px;

     }     
     
.main_producto  {
        margin-bottom: -280px;
    
 }    
         
 .prueba25  {
    background-color: #29325d;
    display: inline-block;
    color: white;
    font-family: 'Bebas Neue', cursive;
    border-radius: 10px;
    border-style: groove;
    border-width: 6px; 
    border-color: #f68546;
}

.talles {
    font-family: 'Playfair Display', serif;
    color: white ;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: end;
    align-items: flex-start;
    position: relative;
    bottom: 350px;
    left: 1200px;
    background-color: #29325d;
    border-radius: 10px;
    border-style: groove;
    border-width: 6px; 
    border-color: #f68546;

    display: inline-block;

} 


.talles_2 {
    
    text-align: center;
} 




.nav_nav {
   
    font-family: 'Playfair Display', serif;
    color: #29325d;
    padding-left: 8px;
    padding-right: 15px;
    
    margin-top: -25px;

    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap ;
    align-items: center;
    justify-content: space-between;
}
 
.ul1 {
    
    list-style-type: none;
    word-spacing: 8px;
}

div ul li {
    display: inline-block;
    
}

div h1 {
    font-size: 60px;
    position: relative;
    left: 90px;
}

.descripcion1 {
   
    font-family: 'Bebas Neue', cursive;
    color: #29325d;

    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap ;
    align-items: center;
    justify-content: space-around;
}

.titulo_descripcion {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    margin-top: -50px;
    
 } 

 .descripcion_producto {
    color: white;
    background-color: #29325d;
    border-radius: 10px;
    border-style: groove;
    border-width: 6px; 
    border-color: #f68546;
    padding-top: 50px;
    padding-right:30px ;
    padding-left:30px ;
    position: relative;
    bottom: 50px;
 } 


 .talles_3 {
    display: flex;
    height: 50px;
    margin-right: 100px;
    margin-left: 100px;

    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: flex-start;
    /* justify-content: space-evenly; */
 }


 .fotos {
    border: #f68546;
    padding: 3px 3px 3px 3px;
    border-radius: 8px;
    border-style: groove;
    border-width: 6px ;
 }  


 .form_form {
    color: white;
    font-size: 30px;
    margin-right: 100px;
    padding: 10px 10px 10px 10px;
    background-color: #29325d;
    border: #f68546;
    padding: 3px 3px 3px 3px;
    border-radius: 8px;
    border-style: groove;
    border-width: 6px ;

    position: relative;
    bottom: 70px;
 }

 .carrito_2 {

    position: relative;
    bottom: 50px;
 }


 .pie_2 {
    bottom: 200px;
    font-family: 'Playfair Display', serif;
    color: white;
    background-color: #29325d;

    

    padding-bottom: 150px;
    border-bottom: 200px;
}

h3 {
    color: white;
    text-align: center;
    
}

.navegador2 {
    color: white;
    text-align: center;
    
}

.logo_instagram_2 {
    text-align: center;
    position: relative;
    top: 90px;
    left: 690px;
    transition-duration: .5s;
    transition-timing-function: ease;
}

.logo_instagram_2:hover {
    transform: scale(1.06);
} 









  


@media screen and (max-width: 1024px) {
    
    div h1 {
        font-size: 40px;
        position: relative;
        left: 90px;
    }
   
   
   
   
    .logo_instagram_2 {
        text-align: center;
        position: relative;
        top: 90px;
        left: 450px;
        transition-duration: .5s;
        transition-timing-function: ease;
    }

    .logo3 {
        width: 60px;
        height: 60px;
    }

    .descuento1 {
        border: #f68546;
        padding: 3px 3px 3px 3px;
        border-radius: 8px;
        border-style: groove;
        border-width: 6px ;  

        position: relative;
        left: 150px;
        
    }

    .descripcion_producto {

        border-radius: 10px;
        border-style: groove;
        border-width: 6px; 
        padding-top: 50px;
        padding-right:10px ;
        padding-left:10px ;
        position: relative;
        bottom: -15px;
        right: 200px;
     } 

     .titulo_descripcion {
    
        font-size: 40px;
        margin-top: -50px;
        
     }

     .carrito_2 {

        position: relative;
        bottom: 90px;
     }

     .talles_3 {
        display: flex;
        height: 50px;
        margin-right: 100px;
        margin-left: 100px;
    
        flex-direction: row-reverse;
        flex-wrap: wrap;
        align-items: flex-start;
        /* justify-content: space-evenly; */
     }


     .form_form {

        font-size: 20px;

    
        position: relative;
        bottom: 100px;
     }
    

}


@media screen and (max-width: 768px) {

    div h1 {
        font-size: 20px;
        position: relative;
        left: 90px;
    }
    
    .logo3 {
        width: 60px;
        height: 60px;
        position: relative;
        padding-top: 15px;
    }


    .logo_instagram_2 {
        text-align: center;
        position: relative;
        top: 90px;
        left: 320px;
        transition-duration: .5s;
        transition-timing-function: ease;
    }


    .pie_2 {

        margin-right: 0px;
        padding-bottom: 150px;
        border-bottom: 200px;
    }

    .texto2 {

        font-size: 20px;
        position: relative;
        padding-top: 40px;
        bottom: 20px;
        margin-right: -10px;
        margin-left: -10px;

    }

    .subtitulos {

        font-size: 40px;
        margin-bottom: 0px;
        margin-right: -10px;
        margin-left: -10px;
    }

    .texto1 {
    
        font-size: 20px;
        position: relative;
        padding-top: 40px;
        bottom: 20px;
        margin-right: -10px;
        margin-left: -8px;
    }


    .descuento1 {
    
        padding: 3px 3px 3px 3px;
        border-radius: 8px;
        width: 50vh;
        height: 50hv;
    
        border-width: 6px ;  

        position: relative;
        left: 40px;
        
    }

    .fotos {
        padding: 1px 1px 1px 1px;
        border-radius: 6px;
        border-style: groove;
        border-width: 6px 6px 6px 6px ;
        margin: 3px 3px 3px 3px;
        position: relative;
        left: 100px;

        margin-right: 340px;
     }  


    .descripcion1 {
   
        display: flex;
        flex-direction: wrap;
        align-items: stretch;
    }


    .descripcion_producto {

        border-radius: 10px;
        border-style: groove;
        border-width: 6px; 
        padding-top: 50px;
        padding-right:10px ;
        padding-left:10px ;
        position: relative;
        bottom: -15px;
        right: 100px;
     } 

     .titulo_descripcion {
    
        font-size: 30px;
        margin-top: -50px;
        
     }


     .carrito_2 {

        position: relative;
        bottom: 90px;
        left: 360px ;
     }

     .talles_3 {
        display: flex;
        height: 50px;
        margin-right: 100px;
        margin-left: 100px;
    
        flex-direction: column-reverse;
        align-items: flex-end;
        /* justify-content: space-evenly; */
     }


     .form_form {

        font-size: 30px;

    
        position: relative;
        bottom: 180px;
        left: 140px;
     }

} 


/* Acá se da la situación de que me rompe esta media query.
Si la hago con max-width no me responde.
Para ver como queda la pagina en 425 hay que sacarlo de comentarios y probar solo ese formato. 
Con esta media query activa me rompe el resto de tamaños */
    
/* @media screen and (min-width: 425px) {

    
    .logo3 {
        width: 70px;
        height: 70px;
        position: relative;
        
    }


    .titulo_2 {
        font-size: 90px;
        position: relative;
        right: 120px;
    }

    .ul1 {
        font-size: 15px;
        position: relative;
        left: 80px;
    }  


    .logo_instagram_2 {

        position: relative;
        left: 170px;

    }

    h3 {
    font-size: 15px;

    }

    .mediopago {
        font-size: 15px;
   
        left: 10px;
    
    }

    .estadocompra {
        font-size: 15px;
        left: 70px;
        
    
    }

    .devoluciones {
        font-size: 15px;
        left: -21px;
    
    }
    
    .envios {
        font-size: 15px;
        bottom: -50px;
    
    }

    .fotos {

        position: relative;
        left: 160px;

    
    } 

    .titulo_descripcion {
    
        font-size: 20px;
        
        
     }

     .descripcion_producto {

        padding-top: 50px;
        padding-right:10px ;
        padding-left:10px ;
        position: relative;
        bottom: -15px;
        right: 10px;
     } 


     .form_form {

        font-size: 15px;

    
        position: relative;
        bottom: 230px;
        left: 80px;
     }

     .carrito_2 {

        position: relative;
        bottom: 170px;
        left: 170px ;
     }

} */